/vendor
/node_modules
.env
.DS_Store
gulpfile.js
/resources/assets
/resources/lang
/resources/views/email.blade.php
/resources/views/home.blade.php
/resources/views/welcome.blade.php
/resources/views/auth
/resources/views/emails
/resources/views/errors
/resources/views/pages/navigation
/resources/views/pages/game.blade.php
/public/js/bootstrap-filestyle.min.js
/app
/bootstrap
/config
/database
/storage
/tests
/.env.example
/artisan
/composer.json
/composer.lock
/package.json
/phpspec.yml
/phpunit.xml
/server.php
/resources/views/pages/projects
/resources/views/vendor
/.idea
/.DS_Store